body {
    background-image: url(gdbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    color:rgb(197, 197, 197);
}
nav {
    width: 100vw;
    position: fixed;
    top: 0;
    margin: 0px;
    background: transparent;
    display: block;
}
nav img{
    margin: 0px 10px;
    height: 50px;
    width: auto;
}
nav button{
    background: transparent;
    font-size: 20px;
    color: rgb(197, 197, 197);
    float: right;
    margin: 5px 10px 0px 10px;
    height: 40px;
    width: 200px;
    border: none;
}
nav button:hover{
    cursor: pointer;
    border-right: none;
    border-bottom: none;
    border-left: solid 2px rgb(205, 234, 252);
    border-top: solid 2px rgb(205, 234, 252);
}
nav button:active{
    border-left: none;
    border-top: none;
    border-right: solid 2px rgb(205, 234, 252);
    border-bottom: solid 2px rgb(205, 234, 252);
}

.MainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1250px;
    height: 340px;
    color: rgb(197, 197, 197);
}


main h1{
    text-align: center;
    font-size: 30px;
    margin: 0px;
    
}
main p{
    margin: 0px 5px 5px 5px;
    padding: 5px;
}

.fter{
    display: flex;
    flex-direction: column;
    float: right;
    margin: 0px;
}
.fter a:hover{
    color:rgb(205, 234, 252);
}
.fter a{
    font-size: 30px;
    margin: 5px;
    color:rgb(197, 197, 197);
}

footer audio{
    margin-top: 145px;
    position:fixed;
    width: 95vw;
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel,
     audio::-webkit-media-controls-timeline-container {
     background-color: #000;
     border: none;
     }
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display
{
    color: beige;
}

audio::-webkit-media-controls-play-button{
    background-color: rgba(255,255,255, 0.3);
    border-radius: 50%;
}

audio::-webkit-media-controls-timeline
{
    background-color: rgba(255,255,255, 0.3);
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

audio::-webkit-media-controls-mute-button {
    background-color: rgba(255,255,255, 0.3);
    border-radius: 50%;
  }